.intro .intro-body .searchbox input#search{
  	width: 300px;
  	height: 50px;
  	background: #d9dadd;
  	border: none;
  	font-size: 10pt;
  	float: left;
  	color: #fff;
  	padding-left: 15px;
 
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
 
  	border-radius: 5px;
}

.intro .intro-body .searchbox input#search::-webkit-input-placeholder {
   	color: #65737e;
}
 
.intro .intro-body .searchbox input#search:-moz-placeholder { /* Firefox 18- */
   	color: #65737e;  
}

.intro .intro-body .searchbox input#search::-moz-placeholder {  /* Firefox 19+ */
   	color: #65737e;  
}
 
.intro .intro-body .searchbox input#search:-ms-input-placeholder {  
   	color: #65737e;  
}

.intro .intro-body .searchbox button.icon{
  	-webkit-border-top-right-radius: 5px;
  	-webkit-border-bottom-right-radius: 5px;
  	-moz-border-radius-topright: 5px;
  	-moz-border-radius-bottomright: 5px;
 
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
 
  	border: none;
  	background: #d9dadd;
  	height: 50px;
  	width: 50px;
  	color: #4f5b66;
  	opacity: 0;
  	font-size: 10pt;
 
  	-webkit-transition: all .55s ease;
  	-moz-transition: all .55s ease;
  	-ms-transition: all .55s ease;
  	-o-transition: all .55s ease;
  	transition: all .55s ease;
}

.intro .intro-body .searchbox:hover button.icon, .container:active button.icon, .container:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}
 
.intro .intro-body .searchbox:hover button.icon:hover{
    background: white;
}

.intro .intro-body .searchbox{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}