<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://static.tutsplus.com/assets/favicon-3ef7b4f54ed4378b31ff3124d3c4bff8.png" rel="shortcut icon" type="image/png" />
  		
		<link rel="stylesheet" type="text/css" href="../static/search_style.css"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	</head>
	
	<body background = "static/download.jpeg">
	
	<div class="box">
  		<div class="container">
  			<form action="/<k>/" method = "POST">
	    		<input type="search" name="search" id="search" placeholder="Search..." />
    			<button class="icon"; input type="submit"; name="my-form"; value="submit"><i class="fa fa-search"></i></button>
				<br><br>
				<a href="#" class = "advanced">Advanced Search.. </a>

				<div id="advancedOptions" class = "advancedOptions" name="advancedOptions">
					<input type = "number" name = "text" id = "text" placeholder="N...">
				</div>

				<script type='text/javascript'>
    				$(document).ready(function () {
        				$('#advancedOptions').hide();
        				$('.advanced').click(function() {
            				if ($('#advancedOptions').is(':hidden')) {
                 				$('#advancedOptions').slideDown();
            				} else {
                 				$('#advancedOptions').slideUp();
            				}
        				});
    				});
				</script>
			</form>
		</div>
	</div>

	
	</body>
</html>